@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Londrina Solid';
  background-color: black;
}

:root {
  --column: 16;
  --default-bg: black;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 50px;
}

.container {
  background-color: var(--default-bg);
  border: 1px solid white;
  padding: 0;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(var(--column), 1fr);
}

.container > div {
  color: white;
  border: 1px solid white;
}

.clear-grid {
  background-color: black;
}

.toggle-white {
  background-color: white;
}
